# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Env files
.env
.env.local
.env.*.local

# Vercel
.vercel

# Turbo / Next caches (in case)
.turbo
.next

# TypeScript
*.tsbuildinfo
